<%= form_for(@bonspiel) do |f| %>
  <% if @bonspiel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bonspiel.errors.count, "error") %> prohibited this bonspiel from being saved:</h2>

      <ul>
      <% @bonspiel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
 
  <%= f.fields_for :teams do |builder| %>
    <%= render "team_fields", :f => builder %>
  <% end %>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
