<div class="field">
  <%= builder.label :name %><br />
  <%= builder.text_field :name %>
</div>
<div class="field">
  <%= builder.label :club %><br />
  <%= builder.text_field :club %>
</div>
<div class="field">
  <%= builder.label :city %><br />
  <%= builder.text_field :city %>
</div>
<div class="field">
  <%= builder.label :state %><br />
  <%= builder.text_field :state %>
</div>
<div class="field">
  <%= builder.label :country %><br />
  <%= builder.text_field :country %>
</div>